<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<customer>
			<vatfallback>
				<vies_validation>1</vies_validation>
				<vies_timeout>2</vies_timeout>

				<vatlayer_validation>0</vatlayer_validation>
				<vatlayer_apikey></vatlayer_apikey>
				<vatlayer_use_https>0</vatlayer_use_https>
				<vatlayer_timeout>2</vatlayer_timeout>

				<regexp_validation>1</regexp_validation>
			</vatfallback>
		</customer>
	</default>
</config>
